<%- include("header"); -%>

<div class="box">
  <div>
    <h1><%= cityName %></h1>
    <img src="<%= url %>" />
    <p><%= temperature %>°C</p>
    <p>Feels like <%= feel %>°C</p>
  </div>
</div>

<%- include("footer"); -%>
